a {
  text-decoration: none;
}
.header_logo {
  float:left;
}

.header div {
  overflow: hidden;
}

.header_search input{
  margin-top:25px;
  /* position: relative; */
}

fieldset{
  border:none;
}

#search_text{
  height: 30px;
  width: 300px;
}

.side {
  height:500px;
  float:left;
}

.content {
  padding: 20px;
  width: 500px;
  height: 1000px;
  float: left;
}

.side_menu_item {
  border: none;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: black;
  text-align: center;
  cursor: pointer;
  white-space: nowrap
}

.side_menu_item div {
  font-size: 20px;
  color: white;
}

.header .header_logo img{
  height:100px;
}

.Aligner {
  display: flex;
  align-items: center;
  vertical-align: middle;
  justify-content: center;
}

.Aligner-item {
  max-height: 50%;
}

.Aligner-item--top {
  align-self: flex-start;
}

.Aligner-item--bottom {
  align-self: flex-end;
}
